@inherits LayoutComponentBase

<div class="page">
    <main>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <nav class="navbar">
            <div class="navdiv">

                
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<!--
    <div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
-->
