@inherits LayoutComponentBase


<div class="page">
    <main>
        
        <nav class="navbar">
            <div class="navdiv">
                
                <ul>
                    <li><b href=""><img src="Images/ProjectManagementLogo.png" alt="logo"></b></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="projects">Projects</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Team</a></li>
                    <li><c href=""><img src="Images/DefaultUser.png" alt="logo"></c></li>
                </ul>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<!--
    <div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
-->
