
*{
    text-decoration: none;
}

.navbar {
    background-color: #45355b;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 15px;
    padding-top: 20px;
}
.navdiv a {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dropdown li {
    display: flex;
    list-style: none;
    height: 100%;
}

.dropdown li:before {
    content: "";
    height: 2px;
    position: absolute;
    background-color: white;
    width: 0%;
    transition: 0.3s;

}

.dropdown li:hover::before {
    width: 65%;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

.dropdown {
    position: absolute;
    padding: 1rem 1rem;
    margin: 3rem -2.5rem;
    background: #8f79b9;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    font-size: 14px;
    font-family: "Poppins";
    display: inline-block;
    opacity: 0;
    transition: 0.2s all ease;
    top: 30px;
}

.actions {
}

.userDiv {
    height: 20px;
    width: auto;
}

.userDiv img {
    height: 0px;
    width: auto;
    padding: 0;
}

.user:hover .dropdown {
    opacity: 100;
    top: 25px;
    display: block;
}

.user {
}

.navdiv a::before {
    content: '';
    position: absolute;
    top: 110%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.4s;
}

.navdiv a:hover::before {
    width: 100%;
}

.navdiv b img {
    height: 50px;
    width: auto;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    padding-right: 30px;
    overflow-x: hidden;
}

.test {
    font-family: Arial;
    color: black;
}

.navdiv c img {
    height: 50px;
    width: auto;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    overflow-x: hidden;
    left: 0%;
    transform: translate(1900%, 0);
}

.navdiv ul img {
    margin-top: -15%;
}

.navdiv {
    font-size: 18px;
    margin-right: 25px;
    font-family: "Poppins-Bold";
    
}

.navdiv ul {
    list-style: none;
    margin: 0 2px;
    display: flex;
    justify-content: space-around;
}

.profile {
}

.profile img {
    height: 45px;
    width: auto;
    border-radius: 50%;
}

li {
    list-style: none;
    display: inline-block;
    align-items: flex-end;
}
li a {
    color: white; 

}

.bolded {
    font-size: 18px;
    margin-right: 25px;
    font-family: "Poppins-Bold";
}

.test {
    font-family: "Poppins";
    font-size: 14px;
    margin-right: 5px;
}