@page "/404"

<PageTitle>404</PageTitle>

<ul>
    <div>
        <span class="bwLogo"><img src="Images/ProjectManagementLogo_BW.png" alt="logo"></span>
        <span class="errorMessage">Oops! Page Not Found</span>
    </div>
    <div>
        <a href="home">
            <span class="homeButton"><button>Bring me back</button></span>
        </a>
    </div>
</ul>

@code {
    
}