@page "/login"
@layout Layout.BlankLayout

<PageTitle>Login</PageTitle>

<ul>

    <div class="header">
        <img src="Images/ProjectManagementLogo.png" alt="logo">
        <label>ProjectPilot</label>
    </div>

    <div class="loginBackground">

        <h3>Log In</h3>

        <div class="wrapper">
            <div class="input-data">
                <input type="text" class="usernameField" required><br><br>
                <label>Username or Email</label>
            </div>
        </div>
        <div class="passwordWrapper">
            <div class="input-data">
                <input type="text" class="passwordField" required><br><br>
                <label>Password</label>
            </div>
        </div>
        <div class="forgotWrapper">
            <label>Forgot your password?</label>
        </div>
        <div class="rememberMeWrapper">
            <input type="checkbox" class="checkBox" required><br><br>
            <label>Remember me</label>
        </div>
        <div class="loginWrapper">
            <button class="loginButton">Log In</button>
        </div>
        <div class="signupWrapper">
            <label>Don't have an account? Sign Up</label>
        </div>
    </div>
</ul>

<body>

    
</body>

@code {

}
