.title {
    font-family: 'Poppins-Bold';
    left: 40px;
    font-size: 30px;
}

.projectPanelGood {
    height: 160px;
    width: 800px;
    background-image: url("Images/Good_Panel.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.projectName {
    font-family: 'Poppins-Bold';
    font-size: 20px;
    top: -25px;
    left: 85px;
    position: relative;
    z-index: 1;
}

.ownerImage img {
    height: 50px;
    width: auto;
    top: -20px;
    left: -60px;
    position: relative;
    overflow-x: hidden;
    border-radius: 50%;
}

.progressTag img {
    height: 30px;
    width: auto;
    top: 30px;
    left: -110px;
    position: relative;
    overflow-x: hidden;
}

.addProgressButton img {
    height: 30px;
    width: auto;
    top: 5px;
    left: 300px;
    position: relative;
    overflow-x: hidden;
    transition: 0.4s;

}

.dueDate img {
    height: 20px;
    width: auto;
    top: -70px;
    left: -285px;
    position: relative;
    overflow-x: hidden;
}

.addProgressButton img:hover {
    opacity: 70%;
}
.container {
    display: flex;
    flex-direction: column;
    left: 400px;
    margin: 0;
    padding: 0;
}
