@page "/projects"
<h3>Project Board</h3>

<ul>
    @foreach (var project in projects)
    {
        <li>@project.name</li>
    }
</ul>

@code {

	private List<Project> projects = ProjectDAO.getProjects();
}
