@page "/projects"

<PageTitle>Projects</PageTitle>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<ul>
    <div class="title">Project Board</div>
    <div class="container">

        <div class="headers">
            <div class="projectTitleHeader">Project Name</div>
            <div class="assignerHeader">Assigner</div>
            <div class="dateHeader">Due Date</div>
            <div class="priorityHeader">Priority</div>
            <div class="assignedHeader">Group Assigned</div>
            <div class="statusHeader">Status</div>
            <div class="progressHeader">Progress</div>
        </div>

        @foreach (var project in projects)
        {

            <div class="projectPanel">
                <div>
                    <span class="projectName">@project.getProjectDisplayName()</span>
                    <span class="projectAssigner">@project.getProjectDisplayName()</span>
                    <span class="projectDate">MM/DD/YYYY</span>
                    <span class="projectProgressIndicator"></span>
                    <span class="projectProgress">High</span>
                    <span class="projectGroup">Group Name</span>
                    <span class="projectStatusIndicator"></span>
                    <span class="projectStatus">Done</span>

                    <div class="progressBarOverlay">
                        <span class="progressBarNum">100%</span>
                    </div>
                </div>
            </div>
        }

        <button class="createButton">Create Project</button>
    </div>
</ul>

@code {

	private List<Project> projects = ProjectDAO.getProjects();
}
