.title {
    font-family: 'Poppins-Bold';
    left: 40px;
    font-size: 30px;
    padding-bottom: 30px;
}

.projectTitleHeader {
    margin-left: 6vh;
}

.headers {
    display: flex;
    margin-bottom: 1%;
    font-family: 'Poppins';
    font-size: 20px;
    width: fit-content;
}

.assignerHeader {
    margin-left: 10vh;
}

.dateHeader {
    margin-left: 10vh;
}

.priorityHeader {
    margin-left: 10vh;
}

.assignedHeader {
    margin-left: 10vh;
}

.statusHeader {
    margin-left: 10vh;
}

.progressHeader {
    margin-left: 10vh;
}

.projectPanel {
    border-radius: 40px;
    height: 10vh;
    margin-bottom: 1%;
    box-shadow: 1px 1px 25px 1px rgba(0, 0, 0, 0.13);
}


.projectName {
    font-family: 'Poppins';
    font-size: 20px;
    top: 20px;
    left: 3.3%;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.progressTag img {
    height: 30px;
    width: auto;
    top: 25px;
    left: -100px;
    position: relative;
    overflow-x: hidden;
}

.addProgressButton {
    position: absolute;
    top: 10px;
    left: 590px;
}

.addProgressButton img {
    height: 30px;
    width: auto;
    position: relative;
    overflow-x: hidden;
    transition: 0.4s;
}

.dueDate img {
    height: 20px;
    width: auto;
    top: -70px;
    left: -272px;
    position: relative;
    overflow-x: hidden;
}

.projectDate {
    font-family: 'Poppins';
    font-size: 14px;
    top: -70px;
    left: -265px;
    position: relative;
    z-index: 1;
}

.addProgressButton img:hover {
    opacity: 70%;
}
.container {
    display: flex;
    flex-direction: column;
    left: 400px;
    margin: 0;
    padding: 0;
}

.progress {
    position: absolute;
    margin-top: 10px;
    margin-left: 250px;
    width: 410px;
    height: 20px;
    background: #a6a6a6;
    border-radius: 7px;
}

.progressFill {
    width: 70%;
    height: 100%;
    background: #7086ff;
}